{% extends '@NSAdmin/base.html.twig' %}

{% block page_header_title %}{{ model|capitalize }}{% endblock %}
{% block page_header_subtitle %}{{object}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h4 class="panel-title">{% block view_title %}{{object}}{% endblock %}</h4>
                    </div>
                    <div class="panel-body">
                        {% block view %}
                        {% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% block actions %}
                            <td>
                                <div class="btn-group">
                                    {% block back_button %}
                                        <a class="btn btn-warning" href="{% block back_url %}{{ path('admin_model_list', {'_admin_model': model}) }}{% endblock %}"><i class="fa fa-undo"></i> {{'admin.action.back'|trans}}</a>
                                    {% endblock %}
                                    {% block edit_button %}
                                        <a class="btn btn-primary" href="{% block edit_url %}{{ path('admin_model_edit', {'_admin_model': model, 'id': object.id}) }}{% endblock %}"><i class="fa fa-pencil"></i> {{'admin.action.edit'|trans}}</a>
                                    {% endblock %}
                                    {% block delete_button %}
                                        <a class="btn btn-danger ns-confirm" data-confirm-message="{{'admin.confirm.delete'|trans}}" data-confirm-type="danger"
                                           href="{% block delete_url %}{{ path('admin_model_delete', {'_admin_model':model, 'id':object.id}) }}{% endblock %}"
                                        ><i class="fa fa-trash"></i> {{'admin.action.delete'|trans}}</a>
                                    {% endblock %}
                                </div>
                                {% block extra_actions %}
                                {% endblock %}
                            </td>
                        {% endblock %}
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
